{% extends 'layout.html.twig' %}

{% block title %}Mes soirées à organiser
{% endblock %}

{% block stylesheets %}
	{{ encore_entry_link_tags('account-messages-scss') }}
{% endblock %}

{% block body %}
<section class="body-container">
	<section class="section-80 header">
		<h1>MES SOIRÉES À ORGANISER</h1>
		<br>
		<p>Vous pouvez consulter vos différentes conversations ici :</p>
		<ul>
			<li>- avec les organisateurs des soirées</li>
			<li>- avec les invités qui souhaitent venir à votre soirée !</li>
		</ul>
	</section>


</section>
{% endblock %}