{% extends 'layout.html.twig' %}

{% block title %}Mes messages
{% endblock %}

{% block stylesheets %}
	{{ encore_entry_link_tags('account-messages-scss') }}
{% endblock %}

{% block body %}
<section class="section-80 header">
	<h1>MES MESSAGES</h1>
	<br>
	<p>Vous pouvez consulter vos différentes soirées préférés ici :</p>
</section>

<section class="section-favlist-party">

</section>

{% endblock %}

{% block javascripts %}{% endblock %}