{% extends 'layout.html.twig' %}

{% block title %}Mes notifications{% endblock %}

{% block stylesheets %}
	{{ encore_entry_link_tags('account-notifications-scss') }}
{% endblock %}

{% block body %}
<section class="section-80 header">
	<h1>MES NOTIFICATIONS</h1>
	<br>
	<p>Vous pouvez consulter vos différentes notifications reçues ici</p>
</section>
{% endblock %}


{% block javascript %}{% endblock %}

