{% extends 'layout.html.twig' %}

{% block title %}Mes dernières soirées{% endblock %}

{% block stylesheets %}
    {{ encore_entry_link_tags('account-recents-parties-scss') }}
{% endblock %}

{% block body %}
<section class="section-80 header">
    <h1>MES RÉCENTES SOIRÉES</h1>
    <br>
    <p>Vous pouvez consulter vos différentes récentes soirées auxquelles vous avez participé ici :</p>
</section>

<section class="section-recents-parties">

</section>
{% endblock %}