.section-dashboard-active.section-my-invits {
    display: block;
    justify-content: center;
}

.invitation {
    margin: 2rem;
    padding: 40px;
    background: darken($white, 3%);
    color: $black;
    box-shadow: $box-shadow;
    border-radius: $radius;
    width: max-content;
    min-height: 250px;
    display: flex;
    grid-column-gap: 20px;
}

.invit-block-partygoer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    grid-row-gap: 10px;
    .invit-partygoer-profile-picture {
        width: 150px;
        height: 150px;
        border-radius: 50%;
        object-fit: cover;
        box-shadow: $box-shadow;
    }
}

.invit-block-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    .invit-block-infos p {
        text-align: center;
    }
}