
/* card party */
.event-date-group {
    padding: 10px 15px;
    background: linear-gradient(180deg, $primary-red-tr, $primary-orange-tr);
    color: $white;
    box-shadow: $box-shadow;
    border-radius: $radius-10;
    font-style: italic;
    width: max-content;
}

.block-group-event-by-date {
    display: flex;
    overflow-x: scroll;
    grid-column-gap: 20px;
}

.event-card {
    margin: 2rem 0;
    position: relative;
    overflow: hidden;
    min-height: 300px;
    min-width: 450px;
    max-width: 450px;
    z-index: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: $radius;
    box-shadow: $box-shadow;
}

.card-cover-background {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.5;
    z-index: -2;
}

.half-card {
    display: flex;
    padding: 20px;
    flex-wrap: wrap;
    grid-gap: 10px;
    justify-content: space-between;
}
   
.half-bottom-card a {
    width: 47%;
    text-align: center;
    line-height: inherit;
}

$spacing-btn: 40px;
.half-top-card p,
.half-top-card h5,
.half-bottom-card a {
    border-radius: 15px;
    padding: 6px $spacing-btn;
    box-shadow: $box-shadow;
    color: $black;
}

.half-top-card p,
.half-top-card h5,
.half-bottom-card a:not(.btn-danger, .btn-success) {
    background: rgba($white, 0.5);
}

.half-bottom-card a.btn-event-set-cancellation-on {
    pointer-events: none;
    &:not(.btn-danger) {
        color: darken($border-color, 50%);
        background: rgba(darken($border-color, 20%), 0.5);
    }
}

@media screen and (max-width: 1000px) {
    .dashboard-section {
        width: 90%;
    }
}

@media screen and (max-width: 500px) {
    .event-card {
        min-width: 300px;
    }
    .dashboard-section {
        width: 100%;
    }

    .half-card {
        justify-content: center;
    }

    .half-bottom-card a {
        width: 100%;
    }
}