.block-comment-header,
.block-invit-header {
    padding: 10px;
    background: linear-gradient($primary-red-tr, $primary-orange-tr);
    color: $white;
    border-radius: $radius-10;
    box-shadow: $box-shadow;
    width: max-content;
    transform: skewX(-10deg);
}

.block-comment-by-title,
.block-invit-by-title {
    display: flex;
    overflow-x: scroll;
    grid-column-gap: 20px;
}

.comment {
    margin: 2rem;
    padding: 20px 30px;
    background: darken($white, 3%);
    color: $black;
    box-shadow: $box-shadow;
    border-radius: $radius;
    min-height: 300px;
    min-width: 500px;
    display: flex;
}

.comment-block-author {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    grid-row-gap: 20px;
    p {
        text-align: center;
    }
    .comment-author-profile-picture {
        width: 150px;
        height: 150px;
        border-radius: 50%;
        object-fit: cover;
        box-shadow: $box-shadow;
        border: $border-3;
    }
}

.comment-block-content {
    padding: 0 0 0 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    h5 {
        text-align: center;
        margin: 10px 0;
    }
    h5+p {
        overflow-y: scroll;
        height: 200px;
        background: $white;
        color: $black;
        padding: 10px;
        margin: 10px 0;
        border-radius: $radius-10;
        box-shadow: $box-shadow;
    }
    .comment-visibility {
        align-self: end;
    }
}

input.form-check-input[type="checkbox"] {
    cursor: pointer;
    background-color: $primary-red-tr;
    border-color: rgba($black, 0.2);
    margin: 0;
    &:checked {
        background-color: $checked;
    }
}

div.form-switch {
    display: flex;
    align-items: center;
    padding-left: 0px;
    grid-gap: 10px;
}

@media screen and (max-width: 600px) {
    $gap: 10px;
    .comment {
        flex-direction: column;
        grid-row-gap: $gap;
        min-width: 350px;
    }

    .comment-block-content {
        padding: 0;
        h5+p {
            margin: 20px 0;
        }
        h5 {
            text-align: center;
        }
        .comment-visibility {
            flex-direction: column;
            align-items: center;
            grid-row-gap: $gap;
        }
    }

}