@import 'app.scss';
@import 'mixins.scss';

.header h1 {
    letter-spacing: 5px;
    text-align: center;
}
.section-favlist-party {
    @include section-account-user;
}

.section-favlist-party {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 80%;
    margin: 0 auto;
}
.fav-party {
    @include account-user-party-card;
}
.fav-party:active {
    box-shadow: $box-shadow;
}

.fav-party-block-img {
    position: relative;
}

.fav-party-starting-date {
    position: absolute;
    top: 0;
    left: 0;
    @include info-on-party-img;
}

.material-icons.btn-favlist {
    position: absolute;
    top: 0;
    right: 0;
    @include info-on-party-img;
}
.material-icons:hover {
    font-size: 24px;
}

.fav-party-block-img img {
    @include party-img-in-card;
    filter: hue-rotate(10deg);
}
.fav-party-price {
    box-shadow: $box-shadow;
}
.fav-party-price p {
    padding: 5px 20px;
    background: rgba($black, 0.75);
    color: $white;
}
.fav-party-main-infos {
    @include account-user-party-main-infos;
}
.block-btn-display-event {
    @include account-user-block-btn-display-event;
}
.btn-display-event {
    color: $black;
    cursor: pointer;
}