@import 'app.scss';
@import 'mixins.scss';

.header h1 {
    letter-spacing: 5px;
    text-align: center;
}
.dashboard-section {
    @include section-account-user;
}

.menu-dashboard-btn {
    display: flex;
    align-items: center;
    border-top: $border-1;
    border-bottom: $border-1;
}

span {
    color: darken($border-color, 10%);
}

.menu-dashboard-btn .btn-dashboard {
    padding: 10px 20px;
    width: 100%;
    text-align: center;
    transition: 0.2s color, 0.6s text-shadow;
} 

.menu-dashboard-btn .btn-dashboard:not(:last-child) {
    border-right: $border-1;
}

.menu-dashboard-btn .btn-dashboard:hover {
    // background-color: $primary-orange-tr;
    background: linear-gradient(180deg, $primary-orange-tr, $primary-red-tr);
    color: $white;
    text-shadow: 2px 2px 4px $primary-red;
}

/* card party */
.card {
    margin: 20px 0;
    position: relative;
    overflow: hidden;
    min-height: 300px;
    background: none;
    z-index: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card-cover-background {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.3;
    z-index: -2;
}

.half-card {
    display: flex;
    padding: 20px;
    flex-wrap: wrap;
}

.half-top-card {
    justify-content: space-between;
}

.half-bottom-card {
    justify-content: space-evenly;
}

$spacing-btn: 40px;
.half-top-card h4,
.half-top-card h5,
.half-bottom-card a {
    border-radius: 15px;
    background: rgba($white, 0.5);
    line-height: $spacing-btn;
    padding: 0 $spacing-btn;
    box-shadow: $box-shadow;
}

.half-bottom-card a {
    margin: 10px 10px 0;
}

@media screen and (max-width: 1000px) {
    .dashboard-section {
        width: 90%;
    }
}

@media screen and (max-width: 500px) {
    .dashboard-section {
        width: 100%;
    }
}