@import 'app.scss';
@import 'mixins.scss';

.header {
    h1 {
        letter-spacing: 5px;
        text-align: center;
        margin: 60px 0;
    }
}

.section-notifications {
    @include section-account-user;
}

.notification-card {
    width: 100%;
    padding: 10px;
    border-radius: 10px;
    background: darken($white, 3%);
    color: $black;
    box-shadow: $box-shadow;
}

.notification-header {
    display: flex;
}

.notification-div-picture {
    display: flex;
    align-items: center;
    padding: 10px;
}
.notification-party-picture {
    height: 100px;
    width: 200px;
    object-fit: cover;
    border-radius: 5px;
}
.notification-infos {
    margin: 0 0 0 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 100%;
}

.notification-event-infos {
    display: flex;
    justify-content: space-between;
}