@import 'app.scss';
@import 'mixins.scss';

.header h1 {
    letter-spacing: 5px;
    text-align: center;
    margin: 60px 0;
}
.section-messages {
    @include section-account-user;
}

.message-card {
    width: 100%;
    padding: 10px;
    border-radius: 10px;
    background: darken($white, 3%);
    color: $black;
    box-shadow: $box-shadow;
}

.message-contact-picture {
    width: 100px;
    height: 100px;
    border-radius: $radius-10;
    background: grey;
    object-fit: cover;
}

.message-header {
    display: flex;
    justify-content: flex-start;
    align-content: stretch;
}

.message-primary-infos {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 0px 20px;
}

.message-event-infos {
    .message-event-title {
        transform: skewX(-15deg);
    }
    .message-event-date {
        font-size: 12px;
    }
}

.messages {
    width: 100%;
    min-height: 200px;
    max-height: 400px;
    background: rgba($black, 0.85);
    border-radius: $radius-10;
    margin: 10px 0 10px 0;
    overflow: scroll;
}

.message-form {
    display: flex;
}

.message-form input {
    width: 100%;
    width: -moz-available;          /* WebKit-based browsers will ignore this. */
    width: -webkit-fill-available;  /* Mozilla-based browsers will ignore this. */
    background: rgba($black, 0.85);
    color: darken($white, 3%);
    width: fill-available;
    margin: 0 20px 0 0;
    padding: 10px 20px;
    border: none;
    border-radius: $radius-10;
}

.message-conversation {
    display: none;
}

.expand {
    font-size: 30px;
    align-self: start;
    border-radius: 50%;
    color: $black;
    background: $white;
    box-shadow: $box-shadow;
    cursor: pointer;
}

.expand-btn {
    color: $white;
    margin: 0 0 0 10px;
    background: rgba($black, 0.75);
    box-shadow: inset $box-shadow;
}

.message {
    margin: 20px;
    display: flex;
}

.btn.send-message {
    font-size: $text-size;
}

.toggle-display {
    display: block;
}

.bubble-message {
    padding: 10px 20px;
    border-radius: $radius-20;
    width: fit-content;
    max-width: 75%;
}

.bubble-message p:last-child {
    text-align: end;
}

.author-side {
    justify-content: end;
}

.recipient-side {
    justify-content: start;
}

.author-message {
    background: darken($white, 3%);
    color: rgba($black, 0.75);
    display: flex;
    flex-direction: column;
    justify-content: end;
}
.recipient-message {
    background: linear-gradient(45deg, $primary-red-tr, $primary-orange-tr);
    color: rgba($white, 0.75);
}
.message-date {
    font-size: $text-size - 4px;
}
.message-planner-and-toggler {
    display: flex;
    justify-content: space-between;
}

@media screen and (max-width: 1000px) {
    .section-messages {
        width: 90%;
    }
}

@media screen and (max-width: 500px) {
    .section-messages {
        width: 100%;
    }
    .message-card {
        border-radius: 0;
        padding: 20px;
    }
    .message-form {
        flex-direction: column;
    }
    .message-form input {
        margin: 0 0 10px 0;
    }
}

