@import 'app.scss';
@import 'mixins.scss';

.header h1 {
    letter-spacing: 5px;
    text-align: center;
}

.fav-party-content-background {
    background: linear-gradient($primary-red-tr, $primary-orange-tr);
}

.section-favlist-party {
    @include section-account-user;
    flex-direction: row;
    justify-content: flex-start;
    grid-column-gap: 10px;
    padding: 0 50px;
    overflow-x: scroll;
    width: 100%;
    box-shadow: inset 4px 0px 10px rgba($black, 0.25), inset -4px 0px 10px rgba($black, 0.25);
}
.fav-party {
    @include account-user-party-card;
}

.fav-party:active {
    box-shadow: $box-shadow;
}

.fav-party-block-img {
    position: relative;
    z-index: 1;
}

.fav-party-starting-date {
    position: absolute;
    top: 0;
    left: 0;
    @include info-on-party-img;
}

.material-icons.btn-favlist {
    position: absolute;
    top: 0;
    right: 0;
    @include info-on-party-img;
}
.material-icons:hover {
    font-size: 24px;
}

.fav-party-block-img img {
    @include party-img-in-card;
    filter: hue-rotate(10deg);
    height: 200px;
}

.fav-party-price p {
    padding: 10px;
}
.fav-party-main-infos {
    @include account-user-party-main-infos;
    h4 {
        text-align: center;
    }
}
.block-btn-display-event {
    @include account-user-block-btn-display-event;
}
.btn-display-event {
    color: $white;
    cursor: pointer;
}

.material-icons.card-event-icons {
    height: max-content;
    padding: 5px;
    border-radius: 10px;
    background: rgba($white, 0.6);
    margin: 20px 10px;
}
.material-icons.card-event-icons+p {
    align-self: center;
}

@media screen and (max-width: 500px) {
    .section-favlist-party {
        width: 100%;
    }
}