@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;600&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css");
@import "~bootstrap/scss/bootstrap";
@import 'variables.scss';

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

h1,
h2,
h3,
h4,
h5,
p,
a,
span,
ul,
li,
label,
input,
button,
textarea,
select {
    padding: 0px;
    margin: 0px;
    font-family: 'Raleway', sans-serif;
    text-decoration: none;
    list-style: none;
}

input,
textarea,
select,
label.material-icons {
    background: lighten($white, 10%);
}

body {
    background-color: $white;
    box-shadow: inset 0px 0px 10px rgba($black, 0.5);
    padding-bottom: 50px;
    overflow-x: hidden;
    min-height: 100vh;
}

.material-icons {
    margin: 0px;
}

h1 {
    font-size: $text-size + 20px;
}
h2 {
    font-size: $text-size + 14px ;
}
h3 {
    font-size: $text-size + 8px ;
}
h4 {
    font-size: $text-size + 4px;
}
p,
ul li {
    font-size: $text-size;
}
a,
a:hover {
    font-size: $text-size;
    color: $black;
}

.section-80 {
    width: 75%;
    margin: 30px auto;
}

@media screen and (max-width: 1000px) {
    .section-80 {
        width: 90%;
    }
}