@import 'app.scss';
@import 'mixins.scss';

// ---------- START - handling the event-form ----------
@keyframes light {
    0% {
        filter: grayscale(0.85);
    }
    5% {
        filter: grayscale(0.3);
    }
    6% {
        filter: grayscale(0.85);
    }
    10% {
        filter: grayscale(0.3);
    }
    12% {
        filter: grayscale(0.45);
    }
    14% {
        filter: grayscale(0.3);
    }
    16% {
        filter: grayscale(0.45);
    }
    20% {
        filter: grayscale(0.2);
    }
    60% {
        filter: grayscale(0.6);
    }
    80% {
        filter: grayscale(0.8);
    }
}

.header-new-event img {
    width: 100%;
    height: 300px;
    object-fit: cover;
    box-shadow: $box-shadow;
    filter: grayscale(0.85);
    animation-name: light;
    animation-duration: 10s;
    animation-iteration-count: infinite;
}

select, input, textarea {
    background: $white;
}

.section-title-new-event ul li {
    margin: 10px 0px;
}


input.event-form-input,
textarea.event-form-input,
.event-form-input select {
    @include input-form;
}

.event-form-row {
    width: 48%;
    display: flex;
    flex-direction: column;
}

.event-form-label {
    @include label-form;
}

.event-form-input div {
    display: flex;
}

.event-form-input div:first-child {
    margin-bottom: 10px;
}

.event-form-input div select {
    width: 100%;
}

.event-form-group {
    margin: 30px 0px;
    display: flex;
    justify-content: space-between;
}

label.material-icons {
    font-size: 50px;
    padding: 20px;
    border: $border-1;
    box-shadow: $box-shadow;
    border-radius: $radius;
    cursor: pointer;
    margin-top: 5px;
    width: fit-content;
}

label.material-icons.checked {
    background: green;
}

.event-form-row-pictures,
.event-form-row-cover,
.event-form-row-presentation,
.event-form-row-whats-included,
.event-form-row-what-to-bring {
    width: 100%;
}

.event-form-row-presentation .event-form-input{
    min-height: 200px; 
}

.event-form-row-whats-included .event-form-input,
.event-form-row-what-to-bring .event-form-input {
    display: flex;
    flex-wrap: wrap;
}

.block-label-whats-included,
.block-label-what-to-bring {
    display: flex;
    flex-direction: column;
    margin: 10px;
}

.group-event-cover,
.group-event-pictures {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 20px;
}

.group-event-cover img,
.group-event-pictures img {
    margin: 10px;
    border: $border-1;
    box-shadow: $box-shadow;
    border-radius: $radius;
    object-fit: cover;
    width: 150px;
    height: 150px;
}
.group-event-cover img {
    height: 300px;
    width: auto;
}
// ---------- END - handling the event-form ----------


@media screen and (max-width: 500px) {
    .event-form-row {
        width: 100%;
        margin: 10px 0px;
    }

    .event-form-group {
        flex-direction: column;
    }

    .event-form-row-whats-included .event-form-input,
    .event-form-row-what-to-bring .event-form-input {
        justify-content: space-around;
    }
}