@import 'app.scss';
@import 'mixins.scss';

.pointer-event-none {
    pointer-events: none;
    cursor: not-allowed;
}

.header-img-bgc {
    width: 100%;
    height: 40vh;
    object-fit: cover;
}
h1 + p {
    font-size: $text-size + 6px;
    margin: 10px 0px;
}

.btn-favlist {
    padding: 5px 10px;
    border-radius: $radius-10;
    background: -webkit-linear-gradient(180deg, $primary-red 0%, $primary-orange 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    box-shadow: $box-shadow;

    &:hover {
        font-size: 24px;
    }
    &:active {
        box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.4);
    }
}


/* --- */

.overlay-container {
    position: fixed;
    display: none;
    width: 100vw;
    height: 100vh;
    background: rgba($black, 0.5);
    z-index: 200;
    justify-content: center;
    align-items: center;
}

.overlay-container img {
    box-shadow: $box-shadow;
    border-radius: $radius;
    max-width: 80%;
}

.overlay-btn-close {
    position: absolute;
    top: 50px;
    right: 50px;
    padding: 10px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: $white;
    font-weight: bold;
}


#overlay-invitation-request {
	position: fixed;
	opacity: 0;
	top: 0;
    width: 100vw;
    background: rgba(0,0,0, 0.5);
    z-index: 200;
    display: flex;
    justify-content: center;
    align-items: center;
}

#overlay-invitation-request.done {
    opacity: 1;
    bottom: 0;
}

.overlay-invitation-request-content {
	border-radius: $radius;
	width: 60%;
	overflow: hidden;
	display: none;
    box-shadow: $box-shadow;
}
.overlay-invitation-request-content img {
	width: 100%;
	height: 300px;
	object-fit: cover;
	overflow: hidden;
}
.overlay-invitation-request-content p {
	padding: 20px 30px;
}
/* --- */

.section-event-images .grid-container {
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-gap: 10px;
}
.grid-item {
    height: 300px;
    width: auto;
    box-shadow: $box-shadow;
    border-radius: $radius;
    overflow: hidden;
    background: linear-gradient(150deg, $primary-red 0%, $primary-orange 100%);
    filter: grayscale(50%);
}

.grid-item-1 {
    grid-row-start: 1;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: 5;
}
.grid-item-2 {
    grid-row-start: 1;
    grid-row-end: 3;
    grid-column-start: 5;
    grid-column-end: 8;
}
.grid-item-3 {
    grid-row-start: 3;
    grid-row-end: 5;
    grid-column-start: 1;
    grid-column-end: 3;
}
.grid-item-4 {
    grid-row-start: 3;
    grid-row-end: 5;
    grid-column-start: 3;
    grid-column-end: 6;
}
.grid-item-5 {
    grid-row-start: 3;
    grid-row-end: 5;
    grid-column-start: 6;
    grid-column-end: 8;
}

.grid-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.section-separator {
   @include separator;
}


/* ----- section event planner info */

.section-event-planner-blocks {
    display:flex;
    justify-content: space-between;
}

.event-planner-infos-1 {
    grid-column-start: 1;
    grid-column-end: 4;
    padding: 0 20px 0 0;
}

.event-planner-infos-2 {
    grid-column-start: 4;
    grid-column-end: 6;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.event-planner-infos-3 {
    grid-column-start: 6;
    grid-column-end: 8;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

img.event-planner-picture-profile {
    min-width: 200px;
    width: 200px;
    height: 200px;
    margin-bottom: 20px;
    border-radius: 50%;
    border: $border-3;
    box-shadow: $box-shadow;
    object-fit: cover;
}

.event-planner-infos-primary {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.event-planner-infos-primary div {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center
}

.event-planner-infos-actions div {
    display: flex;
    padding: 10px;
    box-shadow: $box-shadow;
    border-radius: 5px;
    background: linear-gradient(180deg, $primary-red 0%, $primary-orange 100%);
    cursor: pointer;
    color: $white;
}

.event-planner-infos-2 div,
.event-planner-infos-3 div {
    display: flex;
    width: 100%;
}

.event-planner-infos-2 div p,
.event-planner-infos-3 div p {
    align-self: center;
    margin: 0 10px;
}

.section-group-buttons {
	display: flex;
	justify-content: space-evenly;
    margin: 50px 0 0 0; 
}
.section-group-buttons div {
	display: flex;
	align-items: center;
    @include btn-register-login-form;
	grid-column-gap: 10px;
}

.block-creating-message form {
	display: flex;
	flex-direction: column;
	grid-row-gap: 10px;
	padding: 20px;
	margin: 10px 0 0 0;
}

.block-creating-message form textarea {
    @include input-form;
    padding: 20px;
    min-height: 150px;
}

.block-creating-message form button {
    @include btn-register-login-form;
    width: fit-content;
    align-self: end;
}

.show-off {
	height: 0;
    overflow: hidden;
}

/* ------ */
p.material-icons {
    font-size: 32px;
    padding: 5px;
    border-radius: 5px;
    background: rgba($black, 0.15);
    box-shadow: $box-shadow;
}

span.material-icons {
    font-size: 32px;
}


// ------ section comments

.comment-card {
    @include account-user-party-card;
    background: $white;

    img {
        width: 200px;
        height: 200px;
        border-radius: 50%;
        object-fit: cover;
        border: $border-3;
        box-shadow: $box-shadow;
    }
}

.section-block-comments {
    display: flex;
    flex-direction: column;
    grid-row-gap: 20px;
    width: 100%;
    background: linear-gradient(red, orange);
    padding: 50px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}
.section-comments {
    display: flex;
    overflow-x: scroll;
    grid-column-gap: 50px;
}
.comment-card {
    @include account-user-party-card;
    display: flex;
    flex-direction: column;
    grid-row-gap: 20px;
    justify-content: space-around;
    align-items: center;
    padding: 50px;
    min-width: 400px;
    background: $white;

    img {
        width: 200px;
        height: 200px;
        border-radius: 50%;
        object-fit: cover;
        border: $border-3;
        box-shadow: $box-shadow;
    }
}
.comment-content {
    margin: 20px 0 0 0;
    height: 200px;
    overflow-y: scroll;
}
.section-block-comments h4 {
    color: whitesmoke;
}
.toggle-comment-button {
	cursor: pointer;
	color: whitesmoke;
	width: max-content;
    align-self: center;
    &.toggle-active {
        transform: rotate(90deg);
    }
}
.title-block-send-comment {
    display: flex;
    grid-column-gap: 20px;
}
.hide-send-comment {
	height: 0px;
	overflow: hidden;
}
.form-section-comment {
    display: flex;
    flex-direction: column;
    button {
        box-shadow: 2px 2px 4px rgba(0,0,0,0.25);
    }
}
.input-section-comment {
    width: 100%;
    min-height: 300px;
    padding: 20px;
    border: 0;
    margin: 0 auto 10px;
    border-radius: 30px;
    box-shadow: 2px 2px 4px rgba(0,0,0,0.25);
}


/* ----- section event complements */
.block-event-complements-included,
.block-event-complements-to-bring {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.block-event-complements-included .event-complement-included,
.block-event-complements-to-bring .event-complement-to-bring {
    text-align: center;
    height: auto;
    margin: 10px 20px;
}

.block-event-complements-included .event-complement-included .material-icons,
.block-event-complements-to-bring .event-complement-to-bring .material-icons {
    font-size: 50px;
    padding: 20px;
    background: transparent;
    border-radius: 30px;
    border: $border-1;
    box-shadow: $box-shadow;
}

@media screen and (max-width: 700px) {
    .section-event-planner-blocks {
        display: block;
    }
    .event-planner-infos-2 {
        margin: 20px 0px;
    }
    .event-planner-infos {
        grid-row-gap: 10px;
    }
    .event-planner-picture-profile {
        align-self: center;
    }
    .event-planner-infos-1 {
		padding: 0px;
	}
    .block-event-complements-included, .block-event-complements-to-bring {
        justify-content: space-evenly;
    }
}

@media screen and (max-width: 500px) {
    .section-group-buttons {
        flex-direction: column;
        grid-row-gap: 10px;
        align-items: center;
    }
    .section-group-buttons div {
        width: 80%;
        justify-content: space-between;
    }
    .section-block-comments {
        padding: 20px;
    }
    .comment-card {
        padding: 20px;
        min-width: 300px;
    }
}