@import "app.scss";

// ----- Flash Messages -------
.alert {
    position: absolute;
    top: 10px;
    left: 10px;
    right: 10px;
    bottom: 10px;
    z-index: 20;
    margin: 0px;
    display: flex;
    align-items: center;
}
@keyframes shade {
  0%{
    opacity: 1;
  }
  100%{
    opacity: 0;
  }
}

.shade-disappear {
    animation-name: shade;
    animation-duration: 4s;
    animation-delay: 2s;
}
// ----- Flash Messages -------


.navbar-block {
    width: 100vw;
    height: auto;
    padding: 20px 50px;
    background: linear-gradient(180deg, $primary-red 0%, $primary-orange 100%);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.nav-logo-part {
    display: flex;
    align-items: center;
}
.logo-img {
    width: 50px;
    height: 50px;
    margin-right: 20px;
    border-radius: 50%;
}
.group-letters {
    display: flex;
}
.group-letters p {
    color: $white;
    margin: 0px 5px;
    font-size: 20px;
}

.nav-actions-part {
    display: flex;
    align-items: center;
    width: 60%;
    justify-content: space-evenly;
    background: $white;
    border-radius: $radius;
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.2);
}
.nav-actions-part a {
    // margin: 0px 20px;
    font-size: 16px;
}
.circle {
    width: 45px;
    height: 45px;
    margin: 10px 0px;
    border-radius: 50%;
    background: linear-gradient(180deg, $primary-red 0%, $primary-orange 100%);
    box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.25);
}

.nav-user-part {
    display: flex;
}
.icons div {
    margin-left: 20px;
    font-size: 30px;
    color: $white;
    cursor: pointer;
}
.menu-user {
  display: none;
  width: fit-content;
  background: $white;
  padding: 20px 30px;
  margin-top: 5px;
  border-radius: 10px;
  box-shadow: $box-shadow;
  position: absolute;
  z-index: 20;
  top: 75px;
  right: 3%;
}
.menu-user ul li {
    padding: 10px 0px;
}
.active {
  display: block;
}

.menu-responsive {
    display: none;
}

// media screen under 1000px
@media screen and (max-width: 1000px) {
    .navbar-block {
        justify-content: center;
    }

    .nav-user-part,
    .nav-logo-part {
        display: none;
    }

    body {
        padding-bottom: 150px;
    }

    .menu-responsive {
        display: block;
        width: 100vw;
        position: fixed;
        bottom : 0;
        z-index: 100;
    }

    .menu-user-admin {
        background: $black;
        display: flex;
        overflow: scroll;
        color: $white;
        font-size: 50px;
        width: 100%;
    }
    .menu-user-admin a {
        padding: 10px 20px;
        white-space: nowrap;
        text-decoration: none;
        color: $white;
    }
    .menu-user-admin a:hover {
        background: -webkit-linear-gradient(180deg, $primary-red, $primary-orange);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        font-weight: bold;
        cursor: pointer;
    }


    .menu-user-icon {
        width: 100%;
        display: flex;
    }
    .menu-user-icon .material-icons {
        width: 100%;
        height: 100%;
        font-size: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        background: #f0f0f0;
        padding: 10px 0px;
    }

    .menu-user-icon .material-icons:nth-child(even) {
        background: #e3e3e3;
    }

    .nav-actions-part {
        width: 90%;
    }
}

@media screen and (max-width: 500px) {
    .circle {
        width: 30px;
        height: 30px;
        margin: 5px 0px;
    }
    .navbar-block {
        padding: 20px;
    }
}