@import 'app.scss';
@import 'mixins.scss';


// header p {
//     font-size: $h1p;
// }

.user-form-group {
    margin: 30px 0px;
    display: flex;
    justify-content: space-between;
}

.login-btn-submit,
.btn-submit-user-form {
    @include btn-register-login-form;
}

.user-form-row {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.user-form-label {
    @include label-form;
}

.user-form-input#partygoer_birthdate > select,
.user-form-input:not(#partygoer_birthdate) {
    @include input-form;
}

.user-form-row-self-presentation {
    display: flex;
    flex-direction: column;
}

.user-form-input#partygoer_presentation {
    min-height: 300px;
}

.user-form-row-agree-terms {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end
}

#user_agreeTerms {
    transform: translateY(3px);
    margin-right: 10px;
}

// ------- a garder -------- ON TOP



// start - LOGIN page 
.password-row label,
.email-row label {
    margin-bottom: 5px;
}

.password-row input,
.email-row input {
    padding: 10px 20px;
    border-radius: $radius;
    border: $border-1;
    background: $white;
    box-shadow: $box-shadow;
}

.email-row,
.password-row {
    display: flex;
    flex-direction: column;
}

.material-icons.eye-icon{
    vertical-align: bottom;
    cursor: pointer;
}
// end LOGIN PAGE    

// start ADMIN PROFILE PAGE
.material-icons.star{
    font-size: 32px;
    margin: 0px 5px 0px 0px;
    vertical-align: bottom;
    color: green;
}
.admin-user-infos ul li {
    display: flex;
    align-items: center;
    margin: 0px 0px 10px 0px;
}

.header h1 {
    letter-spacing: 5px;
    text-align: center;
    margin: 60px 0;
}

.block-profile-picture {
    display: flex;
    justify-content: center;
}
.block-profile-picture div img {
    width: 300px;
    height: 300px;
    object-fit: cover;
    border-radius: 50%;
    border: 1px solid whitesmoke;
    box-shadow: 2px 2px 4px rgba(0,0,0, 0.25);
}
// end ADMIN PROFILE PAGE