$color: blue;
$primary-red: #ff0000;
$primary-orange: #f18200;
$black: #000000;
$white: whitesmoke;
$radius: 30px;
$border-color: #E8E8E8;
$border-3: 3px solid $border-color;
$border-1: 1px solid $border-color;
$border-05: 0.5px solid $border-color;
$box-shadow: 0px 4px 4px rgba($black, 0.25);

$primary-red-tr: rgba($primary-red, 0.85);
$primary-orange-tr: rgba($primary-orange, 0.85);

$text-size: 14px;
$h1p : 20px; 
$h2p : 16px;