$primary-red: #ff0000;
$primary-orange: #f18200;
$black: #171717;
$white: whitesmoke;
$radius-5: 5px;
$radius-10: 10px;
$radius-20: 20px;
$radius: 30px;
$border-color: #E8E8E8;
$border-3: 3px solid $border-color;
$border-1: 1px solid $border-color;
$border-05: 0.5px solid $border-color;
$box-shadow: 2px 2px 4px rgba($black, 0.25);

$primary-red-tr: rgba($primary-red, 0.85);
$primary-orange-tr: rgba($primary-orange, 0.85);

$text-size: 16px;
$h1p : 20px; 
$h2p : 18px;

$profile-picture-dimensions-200: 200px; 
$profile-picture-dimensions-100: 100px; 
$profile-picture-dimensions-65: 65px; 

$checked: rgb(133, 199, 133);