{% extends 'layout.html.twig' %}

{% block title %}Mes informations personnelles{% endblock %}

{% block stylesheets %}
	{{ encore_entry_link_tags('user-form-scss') }}
    <style>
    .block-profile-picture {
        display: flex;
        justify-content: center;
    }
    .block-profile-picture div img {
        width: 300px;
        height: 300px;
        object-fit: cover;
        border-radius: 50%;
        border: 1px solid whitesmoke;
        box-shadow: 2px 2px 4px rgba(0,0,0, 0.25);
    }
    </style>
{% endblock %}


{% block body %}
<section class="section-80 header admin-user-infos">
    <h1 class="title-account-user">BIENVENUE SUR VOTRE ESPACE PERSONNEL</h1>
    <br>
    <p>
    {% if app.user %}
        {{ app.user.partygoer.firstname ~ ' ' ~ app.user.partygoer.lastname }}, à 
    {% else %}
        À
    {% endif %}
        partir de votre espace utilisateur, si tu le souhaites tu peux :
    </p>
    <br>
    <ul>
        <li><span class="material-icons star">verified</span><p>Revoir les soirées auxquelles tu as participés</p></li>
        <li><span class="material-icons star">verified</span><p>Accéder aux soirées de ta wishlist</p></li>
        <li><span class="material-icons star">verified</span><p>Compléter et modifier tes informations personnelles</p></li>
        <li><span class="material-icons star">verified</span><p>Discuter avec les autres personnes</p></li>
        <li><span class="material-icons star">verified</span><p>Consulter tes notifications sur la soirées et invitations en cours</p></li>
    </ul>

    <br>

    <div class="block-profile-picture">
        <div class="profile-picture-old">
        {% if partygoer.profileImage %}
            <img src="{{ asset('uploads/profilePicture/partygoer_id_' ~ (partygoer.id) ~ '/' ~ (partygoer.profileImage.name)) }}" alt="">
        {% endif %}
        </div>
        <div class="profile-picture-new">
        </div>
    </div>

    <div class="admin-user-infos-content">
        {{ include('form/form-partygoer.html.twig') }}
    </div>
</section>
{% endblock %}

{% block javascripts %}
<script>
// ---------- display profile picture once upload in input
    let inputProfilePicture = document.querySelector('#partygoer_profilePicture');
    let blockNewProfilePicture = document.querySelector('.profile-picture-new');

    inputProfilePicture.addEventListener('change', function(){

        blockNewProfilePicture.innerHTML = "";

        const files = inputProfilePicture.files

        let image = document.createElement('img')    
        image.src = URL.createObjectURL(files[0])

        blockNewProfilePicture.append(image)
    })
// ---------- display profile picture once upload in input
</script>
{% endblock %}