{% extends 'layout.html.twig' %}

{% block title %}Mes informations personnelles{% endblock %}

{% block stylesheets %}
	{{ encore_entry_link_tags('user-form-scss') }}
{% endblock %}


{% block body %}
<section class="section-80 header admin-user-infos">
    <h1 class="title-account-user">BIENVENUE SUR VOTRE ESPACE PERSONNEL</h1>
    <br>
    <p>
        {{ partygoer.firstname ~ ' ' ~ partygoer.lastname }},
        partir de votre espace utilisateur, si tu le souhaites tu peux :
    </p>
    <br>
    <ul>
        <li><span class="material-icons star">verified</span><p>Revoir les soirées auxquelles tu as participés</p></li>
        <li><span class="material-icons star">verified</span><p>Accéder aux soirées de ta wishlist</p></li>
        <li><span class="material-icons star">verified</span><p>Compléter et modifier tes informations personnelles</p></li>
        <li><span class="material-icons star">verified</span><p>Discuter avec les autres personnes</p></li>
        <li><span class="material-icons star">verified</span><p>Consulter tes notifications sur la soirées et invitations en cours</p></li>
    </ul>

    <br>

    <div class="block-profile-picture">
        <div class="profile-picture-old">
        {% if partygoer.profileImage %}
            <img src="{{ asset('uploads/profilePicture/partygoer_id_' ~ (partygoer.id) ~ '/' ~ (partygoer.profileImage.name)) }}" alt="">
        {% endif %}
        </div>
        <div class="profile-picture-new">
        </div>
    </div>

    <div class="admin-user-infos-content">
        {{ include('form/form-partygoer.html.twig') }}
    </div>
</section>
{% endblock %}

{% block javascripts %}
<script>
// ---------- display profile picture once upload in input
    let inputProfilePicture = document.querySelector('#partygoer_profilePicture');
    let blockNewProfilePicture = document.querySelector('.profile-picture-new');

    inputProfilePicture.addEventListener('change', function(){

        blockNewProfilePicture.innerHTML = "";

        const files = inputProfilePicture.files

        let image = document.createElement('img')    
        image.src = URL.createObjectURL(files[0])

        blockNewProfilePicture.append(image)
    })
// ---------- display profile picture once upload in input

// ------- Display 10 block input for lifeInterest attribut
let inputLifeInterests = document.querySelector('.user-form-input-life-interests')
let parentInputLifeInterests = inputLifeInterests.parentElement

let arrayValues = inputLifeInterests.value.split(',')

for (let index = 0; index < 10; index++) {
    let clone = inputLifeInterests.cloneNode(true);

    if (inputLifeInterests.value !== "") {
        clone.value = arrayValues[index];
        clone.placeholder = "Animaux, Sport, Concert ...";
    }
    parentInputLifeInterests.appendChild(clone);
}

parentInputLifeInterests.removeChild(inputLifeInterests)
// ------- Display 10 block input for lifeInterest attribut

// ------ Delay submit for sending another HTTP request handling lifeInterests
let userForm = document.getElementById('user-form');
let btnValidateLifeInterests = document.querySelector('.btn-validate-life-interests');

btnValidateLifeInterests.addEventListener('click', function(e) {
    e.preventDefault();
    // Envoyer la 2eme requete HTTP pour les centres d'intérêts
    let allInputsLifeInterests = document.querySelectorAll('.user-form-input-life-interests');
    let xhr = new XMLHttpRequest();

    let content = []
    allInputsLifeInterests.forEach(element => {
        content.push(element.value)
    });

    let body = content.join(',');

    xhr.open('POST', this.href, true)
    xhr.send(body);
})
// ------ Delay submit for sending another HTTP request handling lifeInterests
</script>
{% endblock %}