{% extends 'layout.html.twig' %}

{% block title %}Mes informations personnelles{% endblock %}

{% block stylesheets %}
	{{ encore_entry_link_tags('user-form-scss') }}
    <style>
    .user-form-row-self-presentation {
        display: flex;
        flex-direction: column;
    }
    </style>
{% endblock %}


{% block body %}
<section class="section-80 header admin-user-infos">
    <h1 class="title-account-user">BIENVENUE SUR VOTRE ESPACE PERSONNEL</h1>
    <br>
    <p>
    {% if app.user %}
        {{ app.user.partygoer.firstname ~ ' ' ~ app.user.partygoer.lastname }}, à 
    {% else %}
        À
    {% endif %}
        partir de votre espace utilisateur, si tu le souhaites tu peux :
    </p>
    <br>
    <ul>
        <li><span class="material-icons star">verified</span><p>Revoir les soirées auxquelles tu as participés</p></li>
        <li><span class="material-icons star">verified</span><p>Accéder aux soirées de ta wishlist</p></li>
        <li><span class="material-icons star">verified</span><p>Compléter et modifier tes informations personnelles</p></li>
        <li><span class="material-icons star">verified</span><p>Discuter avec les autres personnes</p></li>
        <li><span class="material-icons star">verified</span><p>Consulter tes notifications sur la soirées et invitations en cours</p></li>
    </ul>

    <br>

    <div class="admin-user-infos-content">
        {{ include('form/form-partygoer.html.twig') }}
    </div>
</section>

<script>
    const title = document.getElementById('title-account-user')
    const underline = document.querySelector('.underline')
    const body = document.querySelector('body')

    underline.style.width = title.offsetWidth - title.offsetTop + "px";
</script>

{% endblock %}
